.header {
	&__menu {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-top: 53px;
		margin-bottom: 105px;
	}

	&__menu-button {
		color: $white_color;
		font-family: $font-family;
		font-size: 1.25rem;
		font-style: normal;
		font-weight: 500;
		line-height: 100%;
		letter-spacing: -0.025rem;
		padding: 1rem 1.88rem;

		display: flex;
		align-items: center;
		justify-content: center;
		gap: 20px;
		padding: 16px 30px;
		border: 0.06rem solid rgb(255, 255, 255);
		border-radius: 6.25rem;
	}

	&__menu-wrapper {
		display: flex;
		gap: 1.25rem;
	}

	&__lang {
		display: flex;
		gap: 1.81rem;
		align-items: center;
		a {
			color: $white_color;
		}
	}

	&__button {
		color: $white_color;
		font-family: $font-family;
		font-size: 1.25rem;
		font-style: normal;
		font-weight: 500;
		line-height: 100%;
		letter-spacing: -0.025rem;
		border-radius: 6.25rem;
		border: 1px solid #fff;
		padding: 1rem 1.88rem;
	}
}
