.portfolio {
  background: rgb(21, 21, 21);
  padding: 150px 0 96px;
  &__header {
    color: rgb(255, 255, 255);
    font-family: $font-family;
    font-size: 8rem;
    font-weight: 600;
    line-height: 110%;
    letter-spacing: -2%;
    text-align: center;
    margin-bottom: 70px;
  }
  &__title {
    color: rgb(255, 255, 255);
    font-family: $font-family;
    font-size: 5.5rem;
    font-weight: 600;
    line-height: 110%;
    letter-spacing: -2%;
    text-align: left;
    position: absolute;
    bottom: -6rem;
    left: 55px;
    transition: all 0.5s ease-in-out;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  &__item {
    position: relative;
    overflow: hidden;
    box-sizing: border-box;
    border: 0.13rem solid rgb(67, 67, 67);
    border-radius: 2.29rem;
    background: rgba(0, 0, 0, 0.2);
    transition: all 0.5s ease-in-out;

    picture,
    img {
      width: auto;
      height: 100%;
    }
    &:hover {
      border: 0.13rem solid rgb(255, 255, 255);
      .portfolio__title {
        bottom: 80px;
      }
      .portfolio__label {
        border-radius: 0rem 0rem 1.15rem 1.15rem;
        background: rgb(255, 255, 255);
        padding: 5.16rem 1.72rem 1.15rem;

        color: rgb(21, 21, 21);
        font-family: $font-family;
        font-size: 1.83rem;
        font-weight: 600;
        line-height: 100%;
        letter-spacing: -2%;
        text-align: left;

        svg {
          path {
            fill: rgb(21, 21, 21);
            transition: all 0.5s ease-in-out;
          }
        }
      }

      .portfolio__tags {
        right: 55px;
      }
    }
  }

  &__label {
    position: absolute;
    box-sizing: border-box;
    border-top: 0.125rem solid rgb(67, 67, 67);
    border-radius: 0rem 0rem 1.15rem 1.15rem;
    backdrop-filter: blur(2.29rem);
    background: rgba(21, 21, 21, 0.3);
    top: 0;
    left: 55px;
    padding: 5.16rem 1.72rem 1.15rem;
    transition: all 0.5s ease-in-out;
    color: rgb(255, 255, 255);
    font-family: $font-family;
    font-size: 1.83rem;
    font-weight: 600;
    line-height: 100%;
    letter-spacing: -2%;
    text-align: left;

    max-width: 12.67rem;
    overflow: hidden;
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: center;

    svg {
      min-width: 1.15rem;
      min-height: 1.15rem;
      path {
        transition: all 0.5s ease-in-out;
      }
    }
  }

  &__tags {
    position: absolute;
    right: -200px;
    top: 55px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 10px;
    transition: all 0.5s ease-in-out;
  }

  &__tag {
    border-radius: 7.59rem;
    background: rgba(255, 255, 255, 0.1);
    padding: 12px 24px;
    color: rgb(255, 255, 255);
    font-family: $font-family;
    font-size: 1.15rem;
    font-weight: 600;
    line-height: 1.38rem;
    letter-spacing: 0%;
    text-align: center;
    text-transform: uppercase;
  }
}
